* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.system-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.system-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.system-section p {
    font-size: 16px;
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    background-image: url('../Images/Background.png');
    background-position: center;
    background-repeat: repeat-x;
    z-index: -100;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

.navbar {
    margin: 0px 400px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    width: calc(100% - 800px);
    height: 7%;
    z-index: 10;
    transform: translateY(-130%);
    transition: transform 1s ease;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar.show {
    transform: translateY(0);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 600px);
    padding: 2px 300px;
}

.nav-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.circle-button {
    background-color: #007bff;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 25px;
}

.circle-button img {
    height: 80%;
    width: auto;
}

.circle-button:hover {
    top: 15px;
}

#skipContainer {
    position: absolute;
    right: 10px;
    top: 10px;
   
}